* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    color: #666;
}

.content{
    width: 210mm;
    overflow: hidden;
    margin: 1em auto;
    background-color: white;
    box-shadow: 0 0 12px 12px #999;
    font-size: 2.5em;
}

@media only screen and (max-width:210mm){
    .content{
        width: 100vw;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
}

@media print {
    .content{
        width: 100vw;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
}

table{
    width: 100%;
    border-collapse: collapse;
}

div.eq:first-child {
    margin-bottom: 1em;
}

table, td {
    border: none;
}

td{
    text-align: center;
    padding: 1em 0;
    color: #666;
}

.sol .part {
    overflow: hidden;
    padding:0;
    margin:0;
    display: flex;
    line-height: 33%;
    font-size: 120%;
    text-align: center;
}

.part:nth-child(2n + 1) {
    border-top: 5px dashed #999;
    border-bottom: 5px dashed #999;
}

.part-0 > div {
    transform:translateY(-100%);
}

.part-1 {
    transform:rotate(180deg)
}

.part-2 > div {
    transform:translateY(100%);
}

.sol {
    margin: 1em 0;
}

.sol .fas {
    /* display: inline; */
    line-height: inherit;
}

.sol .part > div{
    flex-grow: 1;
}